$white-1: #fff;
$black-1: #000;
$blue-1: #107AE6;

$grey-1: #f3f3f3;
$grey-2: #e2e2e2;

$pink-1: #e1b7bf;
$pink-2: #c262af;
$pink-3: #fde4e8;
$pink-4: #efc3ca;

$purple-1: #59437a;

$body-bg: $pink-1;
$body-txt: $purple-1;

$color-hero-intro-title: $white-1;

$color-the-menu-top-bg: $pink-2;
$color-the-menu-top-sb-bg: $pink-2;

$color-bar-menu-line: $white-1;

$color-custom-section-label: $pink-3;
$color-custom-section-bg-right: $pink-4;

$color-custom-card-bg: $purple-1;
$color-custom-card-txt: $white-1;

$color-section-about-txt-content: $pink-2;

$color-section-services-item-bg: $purple-1;
$color-section-services-item-txt: $white-1;

$color-section-intro-title: $purple-1;

$color-link-txt: $purple-1;
$color-link-txt-hover: $white-1;

$color-section-skill-fill: $purple-1;

$color-custom-table-border-top: $purple-1;
